# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
from concurrent.futures import ThreadPoolExecutor, as_completed


# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
filepath = "../WeatherPy/citydata.csv"
cityweatherdf = pd.read_csv(filepath)
cityweatherdf.head()

,searc_city,city,country,lat,lng,temp,humidity,cloudiness,windspeed
0,ushuaia,Ushuaia,AR,-54.8000,-68.3000,50.00,53,40,20.71
1,oytal,Oytal,KZ,42.9057,73.2697,55.27,56,33,7.20
2,bengkulu,Bengkulu,ID,-3.8004,102.2655,77.02,91,99,3.87
3,muros,Muros,ES,42.7762,-9.0603,62.02,94,100,3.00
4,rock sound,Rock Sound,BS,24.9000,-76.2000,77.90,73,70,12.35

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Access maps with unique API key
gmaps.configure(api_key=g_key)

# Store latitude and longitude in locations
locations = cityweatherdf[["lat", "lng"]]

# Fill NaN values and convert to float
humid = cityweatherdf["humidity"].astype(float)

In [4]:
# Plot Heatmap
fig = gmaps.figure(center=(0,0), zoom_level=2)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humid, 
                                 dissipating=False, max_intensity=np.max(humid),
                                 point_radius=3.5)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
# Criteria is 
# A max temperature lower than 80 degrees but higher than 70.
# Wind speed less than 10 mph.
# Zero cloudiness.
short_listdf = cityweatherdf.loc[(cityweatherdf["windspeed"] <= 10) & \
                               (cityweatherdf["cloudiness"] == 0) & \
                               (cityweatherdf["temp"].between(70,80))].dropna()


cityrecordcount = len(short_listdf.index)
print(f"Total cities meeting criteria : {cityrecordcount}")
short_listdf.head()

Total cities meeting criteria : 10

,searc_city,city,country,lat,lng,temp,humidity,cloudiness,windspeed
127,richards bay,Richards Bay,ZA,-28.7830,32.0377,73.18,36,0,4.68
129,santiago del estero,Santiago del Estero,AR,-27.7951,-64.2615,72.59,36,0,7.92
217,nador,Nador,MA,35.1740,-2.9287,75.87,60,0,5.75
254,zmiyiv,Zmiyiv,UA,49.6966,36.3611,73.20,38,0,8.95
299,komsomolskiy,Yangi Marg`ilon,UZ,40.4272,71.7189,71.60,37,0,4.61

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
# Process results and return top hotel
def tophotel(data):
    FIELDS = ["icon","name","photos","place_id","rating","geometry.location.lat","geometry.location.lng"]
    testhoteldf = pd.json_normalize(data)
    # Sort to find top rated hotel
    sorted_hoteldf = testhoteldf[FIELDS].sort_values(by=['rating'],ascending=False).reset_index(drop=True)
    sorted_hoteldf.rename(columns={"name":"Hotel_Name","geometry.location.lat":"Lat","geometry.location.lng":"Lng"}, inplace=True)

    return sorted_hoteldf.iloc[0]

# geocoordinates

def hotelsearch(lat,lng, allresults=False):  # Return Top Hote by default, set "allresults" true if you want complete return
    # base url
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    target_coordinates = f"{lat},{lng}"
    target_search = "hotel"
    target_radius = 5000
    target_type = "hotel"

    # set up a parameters dictionary
    params = {
        "location": target_coordinates,
        "keyword": target_search,
        "radius": target_radius,
        "type": target_type,
        "key": g_key
    }
    try :
        # run a request using our params dictionary
        response = requests.get(base_url, params=params)
        json_response = response.json()
        searchresults = json_response['results']
        if allresults:
            return response.json()
        else:
            if not searchresults:
                #print("No hotels returned!")
                return
            else:
                tophotelresult = tophotel(searchresults)
                return tophotelresult
    except requests.exceptions.RequestException as e:
        #Do not want to continue if getting errors
        raise SystemExit(e)

In [7]:
# Test Return of Top Hotel
# Atlanta is lat': 33.749, 'lng': -84.388,
atlanta = {"lat":'33.749',"lng":'-84.388'}
hoteltest = hotelsearch(atlanta["lat"],atlanta["lng"])
print(hoteltest)

icon          https://maps.gstatic.com/mapfiles/place_api/ic...
Hotel_Name                     Canopy By Hilton Atlanta Midtown
photos        [{'height': 472, 'html_attributions': ['<a hre...
place_id                            ChIJ477LYFAE9YgR24puh_com0g
rating                                                      4.5
Lat                                                     33.7932
Lng                                                     -84.388
Name: 0, dtype: object

In [8]:
# Test Return of No hotel found
hoteltest = hotelsearch('29.1081','21.2869')
print(hoteltest)

None

In [9]:
## Test Return of all results
hoteltest = hotelsearch(atlanta["lat"],atlanta["lng"], allresults=True)
print(hoteltest)

{'html_attributions': [], 'next_page_token': 'ATtYBwJGL51PVLjhuJ5PMKHu12s8IRtGOS9x_EO5LUo-z71h_XxnRMr3G5cOxltOYOWHGrJuZWJfPD6MFwAHLh3dDFAxRBCOI6R-yfS66CWtzvh02hEOWjPRUFKaJLzauXJvLxJWxdUX8Hynyq5lIiyXvxukn9P1LPptg9bxiN9DfSy6iKaQmNCBR-CeMHkFTBl5FFb2ENiFsqtSOR_DSjNdx1FMiGj8qZcn8gD9nuGtw6Fwtccj1KKtODvVapY6SK-YgpsceNuC5vd-MgIIoP527pX0FyXxvmnn0PBBU043Nh8grOV0U3kUm6CUVtxw13jLgWPxGpzQklS6GBtwXNGxMJdfeOQhZD0RKUxVH0VzQSzAB2dUt9-OA9iFRaGTzc7tg1ukUtZoK_zCbsYRSsliUhUUxoG7pIWhEll4NE084WFbGBsE32yHsCCCxJWU-lQ', 'results': [{'business_status': 'OPERATIONAL', 'geometry': {'location': {'lat': 33.758994, 'lng': -84.383111}, 'viewport': {'northeast': {'lat': 33.76047987989272, 'lng': -84.38204237010729}, 'southwest': {'lat': 33.75778022010728, 'lng': -84.38474202989272}}}, 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png', 'name': 'Sheraton Atlanta Hotel', 'opening_hours': {'open_now': True}, 'photos': [{'height': 1366, 'html_attributions': ['<a href="https://maps.google.com/maps/contrib/117769331373316738787">Sheraton Atlanta Hotel</a>'], 'photo_reference': 'ATtYBwJDXyTH9jEZ7Hf15ahWc9_Cr9vghh0UfFReYu0o7rPwjgYFLJaInb4JuhNcJh0P0xoejHGAeg33nDmt2RzSolj5X3KylWCk_9aEXdmXTFWAi3SfRoTw3J4ogiosOwY6TMXjoSgmL_uTAjd8Bz-o2_cKfe7yU8yEOOXqAcofzTsUNVsR', 'width': 2048}], 'place_id': 'ChIJxd-SzXcE9YgRs6Jkbw7LWf8', 'plus_code': {'compound_code': 'QJ58+HQ Atlanta, Georgia', 'global_code': '865QQJ58+HQ'}, 'rating': 3.9, 'reference': 'ChIJxd-SzXcE9YgRs6Jkbw7LWf8', 'scope': 'GOOGLE', 'types': ['lodging', 'point_of_interest', 'establishment'], 'user_ratings_total': 5138, 'vicinity': '165 Courtland St NE, Atlanta'}, {'business_status': 'OPERATIONAL', 'geometry': {'location': {'lat': 33.7615415, 'lng': -84.38595509999999}, 'viewport': {'northeast': {'lat': 33.76317757989272, 'lng': -84.38319600000001}, 'southwest': {'lat': 33.76047792010728, 'lng': -84.38697719999999}}}, 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png', 'name': 'Atlanta Marriott Marquis', 'opening_hours': {'open_now': True}, 'photos': [{'height': 699, 'html_attributions': ['<a href="https://maps.google.com/maps/contrib/101930563596311370958">A Google User</a>'], 'photo_reference': 'ATtYBwKC3rFXsV3R72PkLCy2PK5PEH-E544K2cwL86z73u752US_IFm6p_C2RGoSEUMhUKjVJwNBu8swXTnhHbaolvkunXsTl1FboYYqNk4VCbAWkGp16TTtgNDeCcClIpLC8vf-uelCZBDk7V3VZobBJXs-hKjMLM8nHPqHVWRmHGdde1ya', 'width': 1048}], 'place_id': 'ChIJwxiI1nkE9YgR3dIyOdDBaC8', 'plus_code': {'compound_code': 'QJ67+JJ Atlanta, Georgia', 'global_code': '865QQJ67+JJ'}, 'rating': 4.3, 'reference': 'ChIJwxiI1nkE9YgR3dIyOdDBaC8', 'scope': 'GOOGLE', 'types': ['lodging', 'point_of_interest', 'establishment'], 'user_ratings_total': 10309, 'vicinity': '265 Peachtree Center Ave NE, Atlanta'}, {'business_status': 'OPERATIONAL', 'geometry': {'location': {'lat': 33.783499, 'lng': -84.38334549999999}, 'viewport': {'northeast': {'lat': 33.78470307989272, 'lng': -84.38204832010727}, 'southwest': {'lat': 33.78200342010728, 'lng': -84.38474797989271}}}, 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png', 'name': 'Loews Atlanta Hotel', 'opening_hours': {'open_now': True}, 'photos': [{'height': 3370, 'html_attributions': ['<a href="https://maps.google.com/maps/contrib/112941020235906963215">Loews Atlanta Hotel</a>'], 'photo_reference': 'ATtYBwLd2uATz-APfKxgSHbcFOaXtkodhLQBwjLNQY_kMv251Ub_6cUSEd_D05_LgAD4t1kp58H8HwcdZalQEm59usHp2qXPVBcMiu2Wn99SIDCMalUzUAlcBAeYuhPkQA1o1Y_5D7qcnepuCj1D-bv95mGBZl8EdlycfjxPaYie8ZRunfN3', 'width': 5054}], 'place_id': 'ChIJW_dJAkME9YgR8cmczxrCpIo', 'plus_code': {'compound_code': 'QJM8+9M Atlanta, Georgia', 'global_code': '865QQJM8+9M'}, 'rating': 4.5, 'reference': 'ChIJW_dJAkME9YgR8cmczxrCpIo', 'scope': 'GOOGLE', 'types': ['lodging', 'point_of_interest', 'establishment'], 'user_ratings_total': 2191, 'vicinity': '1065 Peachtree Rd NE, Atlanta'}, {'business_status': 'OPERATIONAL', 'geometry': {'location': {'lat': 33.78703730000001, 'lng': -84.38138350000001}, 'viewport': {'northeast': {'lat': 33.78821642989273, 'lng': -84.38035387010729}, 'southwest': {'lat': 33.78551677010728, 'lng': -84.38305352989273}}}, 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png', 'name': 'W Atlanta - Midtown', 'opening_hours': {'open_now': True}, 'photos': [{'height': 1366, 'html_attributions': ['<a href="https://maps.google.com/maps/contrib/101558546990930120528">W Atlanta - Midtown</a>'], 'photo_reference': 'ATtYBwKOoU3kyQYUSjipNFdTVHw47HYiVTHTsFSRt0NrTiTJ1WTowcNaX2RnI5tZhQUz13vRn5kby_nrPNWjW8qv6MFkuBnOeblpvvVE6-YW3xDKrlG56xFd39CSgeCaPF6pN_G48QU_j7aGy0rUa4QpGYBT0VQMlibr_hAOBLU--jz8zKxu', 'width': 2048}], 'place_id': 'ChIJzY1EDkQE9YgRzdycAtbmwiw', 'plus_code': {'compound_code': 'QJP9+RC Atlanta, Georgia', 'global_code': '865QQJP9+RC'}, 'rating': 4.1, 'reference': 'ChIJzY1EDkQE9YgRzdycAtbmwiw', 'scope': 'GOOGLE', 'types': ['lodging', 'point_of_interest', 'establishment'], 'user_ratings_total': 1985, 'vicinity': '188 14th St NE, Atlanta'}, {'business_status': 'OPERATIONAL', 'geometry': {'location': {'lat': 33.7596519, 'lng': -84.388947}, 'viewport': {'northeast': {'lat': 33.76058642989272, 'lng': -84.38752902010728}, 'southwest': {'lat': 33.75788677010728, 'lng': -84.39022867989273}}}, 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png', 'name': 'The Westin Peachtree Plaza, Atlanta', 'opening_hours': {'open_now': True}, 'photos': [{'height': 810, 'html_attributions': ['<a href="https://maps.google.com/maps/contrib/116698897403069058837">The Westin Peachtree Plaza, Atlanta</a>'], 'photo_reference': 'ATtYBwKfe8Asmf9LHf0hvc47MSKHRnM1sRpnSEEapbas2JoVNBDw3gq6IFGvaEvIHP6O-M8v_kEC7ih2hYjVBIKMae1L4qQJ71SJDW665DdidtbwVbkm43kZn86mLfppkgE8_VAlifvIDXSf83oi9gqFuiPE3UJh9AFw_cIlrXOXeWgruKam', 'width': 1440}], 'place_id': 'ChIJ86lMh3gE9YgRVGCyTyCJZB0', 'plus_code': {'compound_code': 'QJ56+VC Atlanta, Georgia', 'global_code': '865QQJ56+VC'}, 'rating': 4.3, 'reference': 'ChIJ86lMh3gE9YgRVGCyTyCJZB0', 'scope': 'GOOGLE', 'types': ['lodging', 'point_of_interest', 'establishment'], 'user_ratings_total': 8307, 'vicinity': '210 Peachtree St NW, Atlanta'}, {'business_status': 'OPERATIONAL', 'geometry': {'location': {'lat': 33.7585793, 'lng': -84.3870657}, 'viewport': {'northeast': {'lat': 33.75984997989272, 'lng': -84.38589462010727}, 'southwest': {'lat': 33.75715032010728, 'lng': -84.38859427989271}}}, 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png', 'name': 'The Ritz-Carlton, Atlanta', 'opening_hours': {'open_now': True}, 'photos': [{'height': 1366, 'html_attributions': ['<a href="https://maps.google.com/maps/contrib/102699646059874219471">The Ritz-Carlton, Atlanta</a>'], 'photo_reference': 'ATtYBwI0A5hNEc01Bw0oM_lhxicT1MAIkpDu3qfFEseJGy5KwUsP1HNbQ_Bb3cZ2XGPTu0Y4jtlIMpeHRa-WpvqIZi_V-lttol7uoi7sJ0Ofmfta7ENIUUngHcYO9C39q-8KHPGTfo2NQeRUIjbXUACEUO5NmXWR7errEsKU2HnN96z8SCey', 'width': 2048}], 'place_id': 'ChIJm56eKO0E9YgRSeb3PncqJzw', 'plus_code': {'compound_code': 'QJ57+C5 Atlanta, Georgia', 'global_code': '865QQJ57+C5'}, 'rating': 4.5, 'reference': 'ChIJm56eKO0E9YgRSeb3PncqJzw', 'scope': 'GOOGLE', 'types': ['lodging', 'point_of_interest', 'establishment'], 'user_ratings_total': 2173, 'vicinity': '181 Peachtree Rd NE, Atlanta'}, {'business_status': 'OPERATIONAL', 'geometry': {'location': {'lat': 33.791434, 'lng': -84.3981008}, 'viewport': {'northeast': {'lat': 33.79271732989272, 'lng': -84.39677807010727}, 'southwest': {'lat': 33.79001767010728, 'lng': -84.39947772989272}}}, 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png', 'name': 'Twelve Midtown, Autograph Collection', 'opening_hours': {'open_now': True}, 'photos': [{'height': 1366, 'html_attributions': ['<a href="https://maps.google.com/maps/contrib/110811327941522133704">Twelve Atlantic Station Hotel</a>'], 'photo_reference': 'ATtYBwJ4UENwXPkxzdApoRiJ2ImvpCFX4LL1aCLk4Ox2T9u_9GFRB_vdyq580EOCaXWyV9zmfDME0Pkm8R-unrlG62lvMG9_yCsf9fzG_SeZBDlTzxYoCUaU_Ol7ILFrU9_KGAd6CjOuIpJCypIkedIJBgyBqO7be954RaDTrKAkmtExt4_o', 'width': 2048}], 'place_id': 'ChIJ7XjMm_cE9YgRtIzD7WCH9sM', 'plus_code': {'compound_code': 'QJR2+HQ Atlanta, Georgia', 'global_code': '865QQJR2+HQ'}, 'rating': 4.2, 'reference': 'ChIJ7XjMm_cE9YgRtIzD7WCH9sM', 'scope': 'GOOGLE', 'types': ['lodging', 'point_of_interest', 'establishment'], 'user_ratings_total': 854, 'vicinity': '361 17th St NW, Atlanta'}, {'business_status': 'OPERATIONAL', 'geometry': {'location': {'lat': 33.765133, 'lng': -84.3892103}, 'viewport': {'northeast': {'lat': 33.76633527989272, 'lng': -84.38774092010728}, 'southwest': {'lat': 33.76363562010728, 'lng': -84.39044057989273}}}, 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png', 'name': 'W Atlanta â€“ Downtown', 'opening_hours': {'open_now': True}, 'photos': [{'height': 1366, 'html_attributions': ['<a href="https://maps.google.com/maps/contrib/103727668910348949764">W Atlanta-Downtown</a>'], 'photo_reference': 'ATtYBwJ0Pd28OOXOSMvREWKxw_eT7fAXCsf_eBFri02R2F4Gwg_NzAYLnhePhYguM-yzFeef6XP0MBH0mBuXvFa6FINAPwhJn6rp_Ddeiw_8USIdxCJ9KQLrWcRN5lM5OfDylVRYBqBWfvce_DOp5vsfp1IvqZp4qFkwsCYaG7Fbrwik2uxy', 'width': 2048}], 'place_id': 'ChIJ9yPW2nsE9YgRv8Lg0ro_55A', 'plus_code': {'compound_code': 'QJ86+38 Atlanta, Georgia', 'global_code': '865QQJ86+38'}, 'rating': 4.1, 'reference': 'ChIJ9yPW2nsE9YgRv8Lg0ro_55A', 'scope': 'GOOGLE', 'types': ['lodging', 'point_of_interest', 'establishment'], 'user_ratings_total': 1506, 'vicinity': '45 Ivan Allen Jr Blvd NW, Atlanta'}, {'business_status': 'OPERATIONAL', 'geometry': {'location': {'lat': 33.7605431, 'lng': -84.3950598}, 'viewport': {'northeast': {'lat': 33.76186082989271, 'lng': -84.39377032010727}, 'southwest': {'lat': 33.75916117010727, 'lng': -84.39646997989271}}}, 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png', 'name': 'Embassy Suites by Hilton Atlanta at Centennial Olympic Park', 'opening_hours': {'open_now': True}, 'photos': [{'height': 4000, 'html_attributions': ['<a href="https://maps.google.com/maps/contrib/102589726242149544657">Embassy Suites Atlanta - At Centennial Olympic Park</a>'], 'photo_reference': 'ATtYBwKH2N5cz2rtUU1zSYrYOag7r9aCst3Dhy5zgNylHO218kgDIU4Q6gOU1mpPltNtMolUMii6SnSYxGGVnQjhzkSc8wzcuTIaAevwOlmhqc6LC3VUzl34nDiABokXDaoH9AWTCeNORKs0LX8RpdquI1c6dSXDzTFHq7HpjUdCdwGZuMzV', 'width': 6000}], 'place_id': 'ChIJp8-IuX8E9YgRbAuMHZl6bBQ', 'plus_code': {'compound_code': 'QJ63+6X Atlanta, Georgia', 'global_code': '865QQJ63+6X'}, 'rating': 4.3, 'reference': 'ChIJp8-IuX8E9YgRbAuMHZl6bBQ', 'scope': 'GOOGLE', 'types': ['lodging', 'point_of_interest', 'establishment'], 'user_ratings_total': 2326, 'vicinity': '267 Marietta St NW, Atlanta'}, {'business_status': 'OPERATIONAL', 'geometry': {'location': {'lat': 33.7618814, 'lng': -84.3956335}, 'viewport': {'northeast': {'lat': 33.76312452989271, 'lng': -84.39422727010727}, 'southwest': {'lat': 33.76042487010727, 'lng': -84.39692692989271}}}, 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png', 'name': 'Hilton Garden Inn Atlanta Downtown', 'opening_hours': {'open_now': True}, 'photos': [{'height': 390, 'html_attributions': ['<a href="https://maps.google.com/maps/contrib/108910877725088177003">Hilton Garden Inn Atlanta Downtown</a>'], 'photo_reference': 'ATtYBwJe3JxANf4_EfrATreTBCvVbMjOplVktA5mYKC4Hd_xBU9sDtc65Pm1o45xq77XHLzIXav12-aBhXvAj8VtIuCGEjBBzJ6HDaCVp3RM7REe9DYBZLsvTizxOae4VuNB2sa2PVpcntWn7YVi9NcvbR3bJdhK0ptugBVSFK2dn5kXDB_v', 'width': 698}], 'place_id': 'ChIJOeYULX4E9YgRMxjoaB8p5pw', 'plus_code': {'compound_code': 'QJ63+QP Atlanta, Georgia', 'global_code': '865QQJ63+QP'}, 'rating': 4.3, 'reference': 'ChIJOeYULX4E9YgRMxjoaB8p5pw', 'scope': 'GOOGLE', 'types': ['lodging', 'point_of_interest', 'establishment'], 'user_ratings_total': 1851, 'vicinity': '275 Baker St NW, Atlanta'}, {'business_status': 'OPERATIONAL', 'geometry': {'location': {'lat': 33.758522, 'lng': -84.394358}, 'viewport': {'northeast': {'lat': 33.76016662989272, 'lng': -84.39323812010728}, 'southwest': {'lat': 33.75746697010728, 'lng': -84.39593777989273}}}, 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png', 'name': 'Omni Atlanta Hotel at CNN Center', 'opening_hours': {'open_now': True}, 'photos': [{'height': 3712, 'html_attributions': ['<a href="https://maps.google.com/maps/contrib/114041020135946816615">Omni Hotel at CNN Center</a>'], 'photo_reference': 'ATtYBwJGKa0ExKif2E5hDfePmhddzyTU3TXRgGEivAedqT1zATtF0sUjSOS3yZPMUUsd93Om3XZVMF_lj1VKTdvmBUAm2sH3dv8lA2uk0zZGMpLksrc4jrSH0PL_U06dWz2cUxPAGwExxY9KnlZwhUg1yPvQLE84bpCXlYY1XPUM86-IdPIn', 'width': 5568}], 'place_id': 'ChIJd_c_Y4AD9YgR0xH3kBPHKqI', 'plus_code': {'compound_code': 'QJ54+C7 Atlanta, Georgia', 'global_code': '865QQJ54+C7'}, 'rating': 4.3, 'reference': 'ChIJd_c_Y4AD9YgR0xH3kBPHKqI', 'scope': 'GOOGLE', 'types': ['lodging', 'point_of_interest', 'establishment'], 'user_ratings_total': 9924, 'vicinity': '100 Cnn, Center St NW, Atlanta'}, {'business_status': 'OPERATIONAL', 'geometry': {'location': {'lat': 33.7902012, 'lng': -84.3884271}, 'viewport': {'northeast': {'lat': 33.79155492989272, 'lng': -84.38684217010729}, 'southwest': {'lat': 33.78885527010728, 'lng': -84.38954182989272}}}, 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png', 'name': 'Artmore Hotel', 'opening_hours': {'open_now': True}, 'photos': [{'height': 2400, 'html_attributions': ['<a href="https://maps.google.com/maps/contrib/116998118932296635162">A Google User</a>'], 'photo_reference': 'ATtYBwLtlIL9LD32HzcJYs4JOr76-X_IpMQ6pq2-mVQucuShcnBiBW9zN_xv_BjziMSwZ9PRltiY5J3938_mwd1GS_bNz6ZLQG26B6KLLASf11dYoywUHDQyxr0Chl4_7rroMhzZMpsnYO_D9vVVBd-Sr6i9VekwtaipftGnUQxYL1tL4UEI', 'width': 3600}], 'place_id': 'ChIJh-lI8FoE9YgRyKGKYvLpvA8', 'plus_code': {'compound_code': 'QJR6+3J Atlanta, Georgia', 'global_code': '865QQJR6+3J'}, 'rating': 4.1, 'reference': 'ChIJh-lI8FoE9YgRyKGKYvLpvA8', 'scope': 'GOOGLE', 'types': ['lodging', 'point_of_interest', 'establishment'], 'user_ratings_total': 931, 'vicinity': '1302 W Peachtree St NW, Atlanta'}, {'business_status': 'OPERATIONAL', 'geometry': {'location': {'lat': 33.770219, 'lng': -84.38812}, 'viewport': {'northeast': {'lat': 33.77166137989273, 'lng': -84.38642542010729}, 'southwest': {'lat': 33.76896172010728, 'lng': -84.38912507989272}}}, 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png', 'name': 'Crowne Plaza Atlanta - Midtown, an IHG Hotel', 'opening_hours': {'open_now': True}, 'photos': [{'height': 3840, 'html_attributions': ['<a href="https://maps.google.com/maps/contrib/112932108920371821363">A Google User</a>'], 'photo_reference': 'ATtYBwKJf96a3rneDuDJ8oWrXxceoM62A8sJP9SOIUkNzIhu0D_EOYoLAvQnMSFIqDZpjLc5SM30lAizeBLo7E95iuh94iPWjZn_utQnHguxk2SWFSdfYkKomY6gLeu_LwP77Zwez7x1xEXTvY25yaW5pc0PMH4RjicLI-waWe-Q_uEcMSlA', 'width': 5760}], 'place_id': 'ChIJmX5uKGUE9YgRLS3WaxO1vDA', 'plus_code': {'compound_code': 'QJC6+3Q Atlanta, Georgia', 'global_code': '865QQJC6+3Q'}, 'rating': 3.9, 'reference': 'ChIJmX5uKGUE9YgRLS3WaxO1vDA', 'scope': 'GOOGLE', 'types': ['lodging', 'point_of_interest', 'establishment'], 'user_ratings_total': 2073, 'vicinity': '590 W Peachtree St NW, Atlanta'}, {'business_status': 'OPERATIONAL', 'geometry': {'location': {'lat': 33.7599412, 'lng': -84.3910229}, 'viewport': {'northeast': {'lat': 33.76122557989272, 'lng': -84.38966072010727}, 'southwest': {'lat': 33.75852592010727, 'lng': -84.39236037989271}}}, 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png', 'name': 'AC Hotel by Marriott Atlanta Downtown', 'opening_hours': {'open_now': True}, 'photos': [{'height': 3930, 'html_attributions': ['<a href="https://maps.google.com/maps/contrib/105937293010069562374">A Google User</a>'], 'photo_reference': 'ATtYBwK563_KCKjBvY5TNhydABnc7zQX2LMcnFibxDAaQ5aT_KG8nNLpPEDF_sJv9B3WR7wUTMR0xKnmKNmlVwZiZ7inhTYxMJ0WK190J5LHROCljvBmv8u_70HMzqN5yWjVih-70zNOvmcXXuCknS1IfXzoRWY5kLunwoi_2E3qyppGydkK', 'width': 5895}], 'place_id': 'ChIJf2-xSn8E9YgR9VHMvyGzeVE', 'plus_code': {'compound_code': 'QJ55+XH Atlanta, Georgia', 'global_code': '865QQJ55+XH'}, 'rating': 4.2, 'reference': 'ChIJf2-xSn8E9YgR9VHMvyGzeVE', 'scope': 'GOOGLE', 'types': ['lodging', 'point_of_interest', 'establishment'], 'user_ratings_total': 1131, 'vicinity': '101 Andrew Young International Blvd NW, Atlanta'}, {'business_status': 'OPERATIONAL', 'geometry': {'location': {'lat': 33.7613755, 'lng': -84.38735559999999}, 'viewport': {'northeast': {'lat': 33.76316027989272, 'lng': -84.38587257010727}, 'southwest': {'lat': 33.76046062010728, 'lng': -84.38857222989272}}}, 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png', 'name': 'Hyatt Regency Atlanta', 'opening_hours': {'open_now': True}, 'photos': [{'height': 2360, 'html_attributions': ['<a href="https://maps.google.com/maps/contrib/117303312757330849175">A Google User</a>'], 'photo_reference': 'ATtYBwLCqtqAcc4vnhrHavl2cFIcnNYpIJFuoESgOWEHUs1nZ_jiyv6q81r8RXtFe1cmeGXxALrzWn0Ik5eZJnunFujfK7masb62ZQKl0N1Eeym80MkaYjkCgFETpeV5Ucq7qKTmeyF4AntdmjU6is4gI4Ok0a3gEs62k2q4tmf_S7yctUhU', 'width': 3884}], 'place_id': 'ChIJnU8tsnkE9YgRKlmgs3CKyks', 'plus_code': {'compound_code': 'QJ67+H3 Atlanta, Georgia', 'global_code': '865QQJ67+H3'}, 'rating': 4.3, 'reference': 'ChIJnU8tsnkE9YgRKlmgs3CKyks', 'scope': 'GOOGLE', 'types': ['lodging', 'point_of_interest', 'establishment'], 'user_ratings_total': 8103, 'vicinity': '265 Peachtree Rd NE, Atlanta'}, {'business_status': 'OPERATIONAL', 'geometry': {'location': {'lat': 33.762632, 'lng': -84.389613}, 'viewport': {'northeast': {'lat': 33.76391147989273, 'lng': -84.38826227010728}, 'southwest': {'lat': 33.76121182010728, 'lng': -84.39096192989271}}}, 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png', 'name': 'Aloft Atlanta Downtown', 'opening_hours': {'open_now': True}, 'photos': [{'height': 1366, 'html_attributions': ['<a href="https://maps.google.com/maps/contrib/116048019170258564341">Aloft Atlanta Downtown</a>'], 'photo_reference': 'ATtYBwIQNUkarB_3pX4wXcaN_AQWIRX_ZMYs516BgPNn0h41XYFW-aoa9uGVnGjgRP11GXMIayfoKGpHmCdRSc2DQMLdUwbykz7WVzSBUiqJwRhZOIniW6kQcY0wTFq5WRCC97lEac0jhXOLDVVbuK1oInVifStfNSICYG_-KSnmLHBAvwdU', 'width': 2048}], 'place_id': 'ChIJF428P3kE9YgRyuO6sXkZsW4', 'plus_code': {'compound_code': 'QJ76+35 Atlanta, Georgia', 'global_code': '865QQJ76+35'}, 'rating': 4, 'reference': 'ChIJF428P3kE9YgRyuO6sXkZsW4', 'scope': 'GOOGLE', 'types': ['lodging', 'point_of_interest', 'establishment'], 'user_ratings_total': 1736, 'vicinity': '300 Ted Turner Dr NW, Atlanta'}, {'business_status': 'OPERATIONAL', 'geometry': {'location': {'lat': 33.7535634, 'lng': -84.39952249999999}, 'viewport': {'northeast': {'lat': 33.75493617989272, 'lng': -84.39824327010727}, 'southwest': {'lat': 33.75223652010727, 'lng': -84.40094292989272}}}, 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png', 'name': 'Reverb by Hard Rock Downtown Atlanta', 'opening_hours': {'open_now': True}, 'photos': [{'height': 1768, 'html_attributions': ['<a href="https://maps.google.com/maps/contrib/112418332911235411163">A Google User</a>'], 'photo_reference': 'ATtYBwKru7U8Y1B-JPhZ4pi43J8jc0BNCQJ3pXOYBMUmqGNcMqHGibSH_OgMff8xwkSUzMk5bzkCrp9Rma5R5vtgR9vt-qhc5j-ceC66oQ5zL2o-G8aw9_TA8fUe5ZLrQKBVPWy99bTCqT5Mj0zOHSPb7C9H-k0uPAc9irdklGJOKmD2m9Us', 'width': 2500}], 'place_id': 'ChIJIVpV2BYD9YgRIBhjAJ7nnpw', 'plus_code': {'compound_code': 'QJ32+C5 Atlanta, Georgia', 'global_code': '865QQJ32+C5'}, 'rating': 4.3, 'reference': 'ChIJIVpV2BYD9YgRIBhjAJ7nnpw', 'scope': 'GOOGLE', 'types': ['lodging', 'point_of_interest', 'establishment'], 'user_ratings_total': 147, 'vicinity': '89 Centennial Olympic Park Dr NW, Atlanta'}, {'business_status': 'OPERATIONAL', 'geometry': {'location': {'lat': 33.7858229, 'lng': -84.38596489999999}, 'viewport': {'northeast': {'lat': 33.78708182989272, 'lng': -84.38451392010728}, 'southwest': {'lat':

In [10]:
# Object Returned

# icon Hotel_Name photos place_id rating Lat Lng

In [11]:
hotel_df = short_listdf.loc[:,['city','country','lat','lng']]
hotel_df['Hotel Name'] = ""
hotel_df.head()

                    city country      lat      lng Hotel Name
127         Richards Bay      ZA -28.7830  32.0377
129  Santiago del Estero      AR -27.7951 -64.2615
217                Nador      MA  35.1740  -2.9287
254               Zmiyiv      UA  49.6966  36.3611
299      Yangi Marg`ilon      UZ  40.4272  71.7189

In [12]:
hotel_df = short_listdf.loc[:,['city','country','lat','lng']]

search_counter = 0 
hotel_df['Hotel Name'] = ""
hotel_list = []

# Adding more details
hotel_df['hotel_place_id'] = ""
hotel_df['hotel_rating'] = ""
hotel_df['hotel_lat'] = ""
hotel_df['hotel_lng'] = ""
hotel_df['hotel_photos'] = ""

nitems = len(hotel_df)
for index, row in hotel_df.iterrows():
    lat = row["lat"]
    lng = row["lng"]
    city_name = row["city"]
    search_counter = search_counter+1
    
    #Save the hotel name to the dataframe
    try:
        outtext = f"{search_counter} of {nitems} : Searching for hotels near {city_name}. \n"
        result=hotelsearch(lat,lng)
        if result is not None:
            hotel_list.append(result)
            hotelname = result['Hotel_Name']
            outtext = outtext + f"\t Found {hotelname}"
            hotel_df.loc[index, ["Hotel Name","hotel_place_id","hotel_rating","hotel_lat","hotel_lng","photos"]] = [result['Hotel_Name'], result['place_id'],result['rating'],result['Lat'],result['Lng'],result['photos']]
            print(outtext)
        else:
            outtext = outtext + f"\t Found {result}, removing...."
            hotel_df.drop(index)
            print(outtext)
    except (KeyError, IndexError) as e:
        print(f"Something Happend : {e}")
        #time.sleep(1)

# Need to clean up   
hotel_df = hotel_df.dropna()

c:\users\210057028\appdata\local\programs\python\python39\lib\site-packages\numpy\core\_asarray.py:83: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order)

1 of 10 : Searching for hotels near Richards Bay.
	 Found Aristo Manor
2 of 10 : Searching for hotels near Santiago del Estero.
	 Found Plaza 3 Apart
3 of 10 : Searching for hotels near Nador.
	 Found HOTEL MASTER HOME
4 of 10 : Searching for hotels near Zmiyiv.
	 Found None, removing....
5 of 10 : Searching for hotels near Yangi Marg`ilon.
	 Found Minimalist
6 of 10 : Searching for hotels near Afipskiy.
	 Found None, removing....
7 of 10 : Searching for hotels near Murgab.
	 Found None, removing....
8 of 10 : Searching for hotels near Siavonga.
	 Found kariba inns
9 of 10 : Searching for hotels near Havelock.
	 Found Holiday Inn Express & Suites Havelock NW-New Bern, an IHG Hotel
10 of 10 : Searching for hotels near Manakara.
	 Found Hotel Antemoro

In [15]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{city}</dd>
<dt>Country</dt><dd>{country}</dd>
<dt>Rating</dt><dd>{hotel_rating}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["hotel_lat", "hotel_lng"]]
hotel_df[["hotel_lat", "hotel_lng"]]

    hotel_lat hotel_lng
127  -28.7403   32.0764
129   -27.793  -64.2509
217   35.1491  -2.90979
299   40.3804   71.7767
487  -16.5323   28.7111
500    34.892  -76.9264
532  -22.1584   48.0169

In [16]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(markers)
# Display figure
fig

Figure(layout=FigureLayout(height='420px'))